# Maven
target/
!target/*.jar

# IDE files
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# Git
.git/
.gitignore

# Logs
*.log

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Other
README.md
HELP.md 